<div class="container">
  <div class="row" id="spacer">
    <div class="jumbotron">
      <div class="row">
        <div class="col-4" style="align-self: center">
          <a href="https://drive.google.com/file/d/12yQD5zFB7J9tTA1UqRolSnYM6Zfx6idm/view?usp=sharing">
            <img src="assets/img/logo.png" id="brand-logo" />
          </a>
        </div>
        <div class="col-8" style="align-self: center">
          <img src="assets/img/AppLogo.png" id="app-title">
        </div>
      </div>
      <div class="row">
        <div class="col-11" style="margin: auto">
          <label style="margin-top: 1%">
            Our first game, EscapeRoomAR started out as a class project but eventually became the great hit we all know
            and love
          </label>
        </div>
      </div>
    </div>

  </div>

  <div class="row margin-auto">
    <h2 class="display-6">Tutorial:</h2>
  </div>

  <div class="row pls-space bg-light mb-3">
    <div class="col-8">
      <img src="assets/img/tutorial/1.png" id="image" />
    </div>
    <div class="col-4 center-text">
      <label>
        Collect items with your touch!
      </label>
    </div>
  </div>

  <div class="row pls-space bg-light mb-3">
    <div class="col-8">
      <img src="assets/img/tutorial/2.png" id="image" />
    </div>
    <div class="col-4 center-text">
      <label>
        Pay close attention to the clues to discover the order of the puzzles
      </label>
    </div>
  </div>

  <div class="row pls-space bg-light mb-3">
    <div class="col-8">
      <img src="assets/img/tutorial/3.png" id="image" />
    </div>
    <div class="col-4 center-text">
      <label>
        Don't forget about your inventory
      </label>
    </div>
  </div>
</div>