#brand-logo {
    width: 80px;
    object-fit: contain;
    margin: auto;
    float: right;
}

#app-title {
    width: 100%;
    object-fit: contain;
    height: 150px;
    all: inherit;
}

#spacer {
    margin: 15px 0;
}

.container {
    min-height: 78.5vh;
}

.jumbotron {
    padding: 5px;
}

#image {
    width: 100%;
}

.pls-space{
    padding: 3% 0;
}

.center-text {
    align-self: center;
    text-align: center;
}

.margin-auto {
    margin: auto;
}