<div class="page">
  <div class="container">
    <div id="space">
      <!-- <h1 class="display-3">About us</h1> -->
      <div class="jumbotron">
        <div class="row">
          <img class="profile" src="assets/img/cristian.jpg" style="transform: rotate(90deg)">
          <h2 class="display-4">Cristian Carreño</h2>
        </div>
        <p>I am a person who has always liked creating, and after several years dedicated to plastic art, I decided to
          try
          doing it in the digital world. In addition, I’ve always been drawn towards mobile technology and video games.
        </p>
        <ul>
          <li>General Certificate of Education on Arts in Pau Gargallo and i.e. S Mollet.</li>
          <li>Certificate of Higher Education on graphic Arts at Pau Gargallo.</li>
          <li>Certificate of Higher Education on cross-platform development in STUCOM.</li>
        </ul>
      </div>

      <div class="jumbotron">
        <div class="row">
          <img class="profile" src="assets/img/bou.png">
          <h2 class="display-4">Alex Bou</h2>
        </div>
        <p>Since my childhood, I have always been interested in technology. A couple of years ago I discovered what
          programming
          was out of curiosity, and since then I haven’t been able to stop learning new languages and technologies. I
          love
          the
          abstract thinking, the creativity it requires and how rewarding it is to finish a project.</p>
        <ul>
          <li>General Certificate of Education on Science in Royal School Armagh.</li>
          <li>Cambridge Advanced level of English (C1).</li>
          <li>Certificate of Higher Education on cross-platform development in STUCOM.</li>
          <li>Junior Developer In Do Travel, developing Web applications.</li>
        </ul>
      </div>

      <div class="jumbotron">
        <div class="row">
          <img class="profile" src="assets/img/cuevas.png">
          <h2 class="display-4">Alex Cuevas</h2>
        </div>
        <p>At the age of 8 I created my first calculator in Batch and I decided that I was passionate about the world of
          programming, then started my career in computer engineering and finally opted to take higher vocational
          training.
          As
          a great fan of video games, I would love to work developing one.</p>
        <ul>
          <li>General Certificate of Education on Technology at Daina Isard centre.</li>
          <li>Student of the degree in computer Engineering at UAB/UOC</li>
          <li>Certificate of Higher Education on cross-platform development in STUCOM.</li>
        </ul>
      </div>

      <div class="jumbotron">
        <div class="row">
          <img class="profile" src="assets/img/victor.jpg">
          <h2 class="display-4">Víctor García</h2>
        </div>
        <p>At the end of high school ,I decided I wanted some work experience before deciding whether I wanted to keep
          studying. To become fully qualified, and since I’ve always been interested in current technology, I decided to
          learn
          about the subject and try out the world of programming.</p>
        <ul>
          <li>General Certificate of Education on Technology at STUCOM.</li>
          <li>Certificate of Higher Education on cross-platform development in STUCOM.</li>
          <li>English First Certificate</li>
        </ul>
      </div>
    </div>
  </div>
</div>