<div class="container">
  <div class=" testimonial-group">
    <div class="row padding-top">
      <h2 class="display-12">Download all the VuMarks at the bottom!</h2>
    </div>
    <div class="row images">
      <div class="col-4" *ngFor="let image of images">
        <img [src]="image" (click)="clickImage(image)">
      </div>
    </div>

    <div>
      <div class="row">
        <!-- Expanded image -->
        <img id="mainImage" [src]="actualImage">
      </div>

      <div>
        <a href="assets/Vumarks.zip">
          <button class="btn btn-primary">Download VuMarks</button>
        </a>
      </div>
    </div>
  </div>
</div>