  .container {
    min-height: 70vh;
  }

  img {
      width: 100%;
  }

  .border-bottom {
    padding-bottom: 2%;  
    border-bottom: 10px gray;
  }

  .testimonial-group > .images {
    overflow-x: auto;
    white-space: nowrap;
    display: -webkit-box;
    padding: 2% 0;
  }

  .images img:hover {
      cursor: pointer;
  }

  .testimonial-group > .images > .col-4 {
    /* display: -webkit-box; */
    float: none;
  }

 #min-space-height {
     min-height: 300px;
 }

 #mainImage {
     padding: 2% 0;
     max-height: 600px;
     object-fit: contain;
     height: 100%;
 }

 .padding-top {
     padding-top: 5%;
 }