.nav-button {
    border: none;
    background-color: transparent;
}

.page > *{
    background: grey !important;
}

.dropdown-menu {
    background: grey !important;
}

.dropdown-item:hover {
    background-color: lightgray !important;
}


* {
    color: white !important;
}