<ngb-carousel *ngIf="images" class="max">
  <ng-template ngbSlide>
    <img [src]="images[0]" class="carousel-image" style="transform: rotate(180deg)">
  </ng-template>
  <!-- <ng-template ngbSlide style="max-width: max-content">
      <img [src]="images[1]" alt="Random second slide" id="carousel-image" style="transform: rotate(90deg)">
      <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template> -->
  <ng-template ngbSlide>
    <img [src]="images[2]" class="carousel-image">
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[3]" class="carousel-image">
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[4]" class="carousel-image" id="new-width">
  </ng-template>
</ngb-carousel>