.title {
    padding-top: 10px;
}

.list {
    list-style: none;
}

.list li {
    padding: 25px 0;
}

.row {
    border-top: 2px solid #CCCCCC;
    padding-top: 5px;
}

.space {
    margin-top: 5px;
}

#video {
    margin: auto;
    width: 100%;
    height: 100%;
}

#custom-card {
    height: 100%;
    padding: 0 5px;
}

/* ANIMATIONS */
.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}