<div class="page">
  <div class="container">
    <!-- <div class="row">
      <h1 class="title">Home</h1>
    </div> -->
    <div class="row col-12">
      <div class="card transparent fade-in center">
        <div class="card-body transparent">
          <app-carrousel></app-carrousel>
        </div>
      </div>
    </div>

    <div class="row fade-in">

      <div class="col-md-3 col-12 space">

        <blockquote class="blockquote">
          Our mission is to entertain our clients using the latest
          technology, giving them the best user experience.
          Despite being app developers, our first value is the fact
          that people are the most important thing so our
          clients always come first.
          We are in love with coding and creating applications
          that revolutionise the world.
        </blockquote>
      </div>

      <div class="less-width col-md-9 col-12 space">
        <div class="space">
          <iframe width="100%" height="400px" src="https://www.youtube.com/embed/FY4YA7VvcQ0" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>

    </div>

  </div>
</div>