<div class="page">
  <div class="container">
    <!-- <div class="row">
      <h1 class="title">Home</h1>
    </div> -->
    <div class="row col-12">
      <div class="card transparent fade-in center">
        <div class="card-body transparent">
          <app-carrousel></app-carrousel>
        </div>
      </div>
    </div>

    <div class="row fade-in">

      <div class="col-md-3 col-12">

        <div class="card space" id="custom-card">
          <ul class="list">
            <li>
              <h3>Passionate devs</h3>
            </li>
            <li>
              <h3>Iorem ipsium</h3>
            </li>
            <li>
              <h3>Hello world</h3>
            </li>
          </ul>
        </div>
      </div>


      <div class="less-width col-md-9 col-12">
        <div class="space">
          <video controls id="video">
            <<<<<<< HEAD <source src="/assets/videos/VIDEO_FINAL.mp4" type="video/mp4">
              =======
              <source src="/assets/videos/pexels.mp4" type="video/mp4">
              >>>>>>> ee82f22b991c99b8b472fca7e46564811192e83a
              Your browser does not support the video tag.
          </video>
        </div>
      </div>

    </div>



  </div>
</div>